.design-btn {
    color: #ffffff;
    outline: none;
    cursor: pointer;
    min-width: 262px;
    padding: 16px 0;
    font-weight: 500;
}
.image-what-do,
.text-what-do-item{
    display: flex;
}
.active-image::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 2px #e20514;
    z-index: 100;
}
.image-what-do{
    margin-right: 78px;
    max-width: 892px;
    align-items: center;
    flex-direction: row-reverse;
}
.small-images{
    display: flex;
    flex-direction: column;
     margin-right: 9px;
}
.small-images-itex{
    margin-bottom: 9px;
}
.last-small-ph,
.text-what-do-item-last{
    margin-bottom: 0;
}
.text-what-do-item-image{
    position: relative;
}
.what-do-wrapper{
    display: flex;
    justify-content: center;
}
.text-what-do-item{
    align-items: center;
}
.text-what-do-item-image{
    position: relative;
    margin-right: 64px;
    max-width: 82px;
}
.text-what-do-item-image::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #000;
    margin-left: 32px;
}
.text-what-do{
    max-width: 609px;
}
.text-what-do-item-image img{
    max-width: 82px;
    height: 79px;
}
.text-what-do-item-text{
    max-width: 460px;
}

.line{
  content: '';
  position: absolute;
  width: 1px;
  background-color: #000;
  height: 100%;
  left: 111px;
}
.design_description p{
    text-align: center;
}


.text-what-do-item{
    margin-bottom: 26px;
    position: relative;
}
.form-eq-wrapper{
    display: flex;
    align-items: center;
}
.more-black{
    padding: 14px 0;
}
.images-item{
    margin-bottom: 9px;
    margin-right: 9px;
    position: relative;
    cursor: pointer;
}
.last-image-item{
    margin-bottom: 0;
}
@media screen and (max-width: 1380px){
   
}
@media screen and (max-width: 1199px){
    .small-images{
        flex-direction: row;
        margin-right: 0;
    }
    .images-item{
        margin-bottom: 0;
        margin-top: 9px;
        margin-right: 11px;
    }
    .last-image-item{
        margin-right: 0;
    }
    #thumbs{
        display: flex;
        justify-content: space-between;
    }
    .image-what-do{
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 83px;
        align-items: stretch;
    }
    .small-images-itex{
        margin-bottom: 0;
        margin-top: 13px;
        margin-right: 13px;
    }
    .last-small-ph{
        margin-right: 0;
    }
    .what-do-wrapper {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 790px){
    .image-what-do{
        margin-right: -2rem;
        margin-left: -2rem;
    }
    .example_2 {
        margin-bottom: 0;
    }
    .image-what-do{
        margin-bottom: 82px;
    }
}
@media screen and (max-width: 460px){
    .line{
        left: 100px;
    }
    .image-what-do{
        margin-right: 0;
        margin-left: 0;
    }
    .text-what-do-item-image::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: #000;
        margin-left: 13px;
    }
    .text-what-do-item-image {
        margin-right: 26px;
        max-width: 82px;
    }
    .text-what-do-item-image img {
        max-width: 55.48px;
        height: auto;
    }
    .image-what-do {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 380px){
    .small-images-itex {
        margin-top: 5px;
        margin-right: 5px;
    }
    .image-what-do {
        margin-bottom: 40px;
    }
    .last-small-ph{
        margin-right: 0;
    }
    .line{
        left: 85px;
    }

}