* {
  outline: none !important;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "HelveticaNeueCyr";
}

.bar-stand {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 102px;
}
.bar-stand h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 32px;
}
.bar-stand p {
  color: #010000;
  font-size: 18px;
  font-weight: 300;
}
.bar-stand-description-first {
  text-align: right;
  margin-left: auto;
}
.bar-stand-description {
  max-width: 484px;
}
.bar-stand-item-1 {
  margin-right: 45px;
}

.bar-edge {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.bar-edge-item h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 32px;
}
.bar-edge-item p {
  color: #010000;
  font-size: 18px;
  font-weight: 300;
}
.bar-edge-item-1, .bar-edge-item-2 {
  max-width: 484px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 393px;
}
.bar-edge-item-1 {
  order: 1;
}
.bar-edge-item-2 {
  order: 3;
}
.bar-edge-item-3 {
  max-width: 658px;
  text-align: center;
  margin-left: 112px;
  margin-right: 112px;
  order: 2;
}
.bar-edge-description-right {
  text-align: right;
}
.bar-edge-description-3 {
  max-width: 100%;
  position: relative;
  background-color: #ffffff;
  margin-left: 28px;
  margin-right: 28px;
  margin-top: -70px;
  padding: 0 30px;
}
.bar-edge-description-3 span {
  font-weight: 500;
  display: block;
}
.bar-edge-description-3::after {
  content: "";
  width: 1px;
  height: 73px;
  position: absolute;
  left: 50%;
  background-color: #000;
  bottom: -90;
}

.use-materials {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.use-materials-title {
  text-align: center;
  margin-top: 23px;
  margin-bottom: 0;
  font-size: 30px;
}
.use-materials-title span {
  font-weight: 300;
}
.use-materials-item-1, .use-materials-item-5 {
  margin-top: 172px;
  max-width: 334px;
}
.use-materials-item-1 {
  margin-right: 36px;
}
.use-materials-item-5 {
  margin-left: 36px;
}
.use-materials-item-2, .use-materials-item-4 {
  margin-top: 90px;
  max-width: 334px;
}
.use-materials-item-3 {
  max-width: 334px;
  margin-left: 36px;
  margin-right: 36px;
}
.use-materials-item span {
  color: #020000;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.use-materials-item p {
  font-size: 14px;
  font-weight: 300;
}
.use-materials-item-description {
  margin-top: 32px;
}

.storage {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.storage-item {
  max-width: 755px;
}
.storage-1, .storage-2 {
  margin-bottom: 60px;
}
.storage-item-1 {
  text-align: right;
  max-width: 755px;
  margin-right: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.storage-item-3 {
  text-align: center;
  max-width: 755px;
}
.storage-description{
  max-width: 495px;
}
.storage-description-3 {
  max-width: 100%;
  position: relative;
  background-color: #ffffff;
  margin-left: 28px;
  margin-right: 28px;
  margin-top: -70px;
  padding: 0 30px;
}
.storage-description-3 p {
  margin-bottom: 60px;
}
.storage-description-3 div.bar-btn {
  width: 374px;
  margin-right: 0;
  padding: 16px 0;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.storage-3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  justify-content: center;
  margin-bottom: 110px;
}
.storage-description h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 32px;
}
.storage-description p {
  color: #010000;
  font-size: 18px;
  font-weight: 300;
}

.other-elem-img {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.other-elem-img-item {
  margin-right: 5px;
}
.other-elem-img-item:last-of-type {
  margin-right: 0;
}

.other-elem-description {
  max-width: 789px;
  text-align: center;
  position: relative;
  background-color: #ffffff;
  margin-top: -70px;
  padding: 0 145px;
}
.other-elem-description h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 32px;
}
.other-elem-description p {
  color: #010000;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 36px;
}
.other-elem-description div.bar-btn {
  width: 262px;
  margin-right: 0;
  padding: 16px 0;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.other-elem-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 92px;
}

.bar-btn {
  padding: 16px 0;
}

.features__item {
  margin-left: unset;
  margin-right: 70px;
}
.features__item:last-of-type {
  margin-right: 0;
}

.features__list {
  justify-content: center;
  flex-wrap: wrap;
}

.top-photo {
  margin-right: 0;
}

div.main-right-bottom {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}

.main-right {
  max-width: 987px;
  margin-left: 15px;
}

.main-left {
  max-width: 450px;
  margin-right: 80px;
}

.main-left {
  max-width: 474px;
  margin-right: 80px;
}

.place-item-img-1 img {
  transition-duration: 0.4s;
}

.place-item-img-1 .goods-eq-title {
  transition-duration: 0.4s;
}

.place-item-img-1 {
  overflow: hidden;
  background: #000;
}

.place-item-img-1:hover .goods-eq-title {
  opacity: 0.8;
  height: 75px;
}

.place-item-img-1:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}

.main-grid-photos {
  justify-content: space-between;
}

.main-right {
  max-width: 905px;
  margin-left: 15px;
}

.main-left-items-img-1 {
  margin-bottom: 16px;
  margin-left: 55px;
  position: relative;
}

.top-photo {
  margin-left: 55px;
}

.main-left-items-img-2,
.main-right-top,
.first-right,
.right-bottom-last {
  position: relative;
  display: inline-block;
}

.goods-eq-title {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 313px;
  color: #fff;
  height: 63px;
  background-color: #e10514;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.8;
}

.eq-banner {
  margin-bottom: 100px;
}

.place-item-img {
  position: relative;
  max-width: 491px;
}

.place-item-wrapper {
  max-width: 491px;
}

.main-grid-description-first p {
  line-height: 2.1;
}

.place-item-2,
.place-item-1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.place-item-wrapper {
  margin-right: 63px;
}

.place-item-wrapper:last-of-type {
  margin-right: 0;
}

.eq-item-1 {
  flex: 100%;
  margin-bottom: 15px;
}

.form-eq-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.form-eq-box {
  background-color: #fff;
  margin-left: -200px;
  width: 717px;
  padding: 69px;
  align-self: center;
  position: relative;
}
.evenform input.eq-form-btn{
  display: none;
}
.progress-numbers {
  font-size: 100px;
  font-weight: 100;
  text-transform: uppercase;
  color: #e20514;
  position: absolute;
  right: 0;
  top: -104px;
}

.weight-one {
  font-weight: 500;
}

.forma-title h2 {
  margin-bottom: 0;
}

.place-item-img img {
  transition-duration: 0.4s;
}

.place-item-img .goods-eq-title {
  transition-duration: 0.4s;
}

.place-item-img {
  overflow: hidden;
  background: #000;
}

.place-item-img:hover .goods-eq-title {
  opacity: 0.8;
  height: 75px;
}

.place-item-img:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}

.place-item-1 {
  margin-bottom: 77px;
}

.goods-eq-title {
  display: flex;
  align-items: center;
}

.goods-eq-title span {
  font-size: 20px;
  font-weight: 600;
  padding-left: 30px;
}

.eq-form-box {
  padding: 0;
  max-width: 441px;
  margin-left: auto;
  margin-right: auto;
}

.eq-form-box-2 {
  margin-top: 50px;
  margin-bottom: 77px;
}

.eq-form-box-1 {
  margin-bottom: 99px;
}
.use-materials-item-description,
.bar-edge-description{
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 1790px) {
  .main-left {
    display: flex;
  }

  .main-grid-description-first {
    display: none;
  }
}
@media screen and (max-width: 1613px) {
  .main-grid-photos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main-right {
    max-width: 100%;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main-right-bottom {
    flex-direction: column;
  }

  .main-right-top {
    max-width: 421px;
  }

  .top-photo {
    margin-left: 0;
  }

  .main-left-items-img-1 {
    margin-bottom: 40px;
    margin-left: 0;
    position: relative;
    width: 100%;
  }

  .main-left-items-img-2 {
    margin-bottom: 40px;
  }

  .main-left {
    max-width: unset;
    width: 100%;
    margin-right: 0;
  }

  div.main-right-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0;
  }

  .first-right {
    margin-right: 0;
  }

  .right-bottom-last {
    max-width: unset;
    margin-right: 0;
  }

  .main-left-items {
    width: 100%;
    align-items: center;
  }

  .place-item-img-1 {
    margin-bottom: 40px;
  }

  .right-bottom-last {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1365px) {
  .place-item-2, .place-item-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .place-item-1 {
    margin-bottom: 40px;
  }

  .place-item-wrapper {
    margin-right: 0;
  }

  .place-item-wrapper {
    margin-bottom: 40px;
  }

  .place-item-wrapper:last-of-type {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1315px) {
  .design-frame::before {
    border-width: 20px;
    left: 30px;
    height: calc(100% - 78px);
    bottom: 0;
  }

  .design-frame::after {
    border-width: 20px;
    right: 30px;
    height: calc(100% - 78px);
    bottom: 0;
  }

  .bar-edge-item-3 {
    max-width: 658px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    order: 2;
  }
}
@media screen and (max-width: 991px) {
  .use-materials-title {
    margin-top: 100px;
}
  .storage-3 {
    margin-bottom: 14px;
}
  form.bar-form {
    margin-bottom: 90px;
}
  .use-materials {
    flex-wrap: wrap;
    margin-top: 40px;
}
  .use-materials-item-3 {
    margin-bottom: 40px;
}
  .bar-features {
    margin-right: 0;
  }
  .features__middle::before {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    border-bottom: 1px solid #000006;
    width: 3rem;
    margin-left: 4rem;
  }

  .bar-stand {
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;
  }

.bar-example_2{
  margin-bottom: 0;
}
  .bar-stand-description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .bar-stand-item-1 {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .use-materials {
    flex-wrap: wrap;
  }
  .use-materials-item-1, .use-materials-item-5 {
    margin-top: 0;
    max-width: 334px;
  }

  .use-materials-item-5 {
    text-align: center;
  }

  .use-materials-item-1,
.use-materials-item-3 {
    text-align: right;
  }
.use-materials-item-2{
  margin-top: 0;
}
  .use-materials-item-1,
.use-materials-item-2 {
    margin-bottom: 40px;
  }

  .use-materials-item-2, .use-materials-item-4 {
    /* margin-top: 0; */
    max-width: 334px;
  }

  .use-materials-item-4 {
    margin-top: 0;
  }

  .use-materials-item-3 {
    max-width: 334px;
    margin-left: 0;
    margin-right: 36px;
  }

  .use-materials-item-5 {
    margin-left: 0;
    margin-bottom: 40px;
  }

  .use-materials-title h2 {
    margin-bottom: 0;
  }

  .bar-edge-description-3 {
    margin-left: 46px;
    margin-right: 46px;
  }

  .use-materials-item p {
    font-size: 16px;
    font-weight: 300;
  }
}
@media screen and (max-width: 884px) {
  .bar-edge-item-3 {
    max-width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    order: 2;
    margin-top: 600px;
  }

  .bar-edge-item-1 {
    order: 1;
    margin-right: -330px;
  }

  .bar-edge-item-2 {
    order: 3;
    margin-left: -330px;
  }

  .storage-description-3 {
    max-width: 100%;
    position: relative;
    background-color: #ffffff;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0 30px;
  }

  .other-elem-img-item-2,
.other-elem-img-item-3 {
    display: none;
  }

  .other-elem-img-item {
    margin-right: 0;
    width: 100%;
  }

  .other-elem-description {
    max-width: 481px;
    text-align: center;
    position: relative;
    background-color: #ffffff;
    margin-top: -70px;
    padding: 0 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  .other-elem-description div.bar-btn{
    width: 446px;
    padding: 24px 0;
  }

  .storage-img-1 img {
    max-width: 100%;
  }

  .storage-img-1 {
    display: flex;
  }
}
@media screen and (max-width: 750px){
  form.bar-form{
    margin-bottom: 0;
  }
}
@media screen and (max-width: 743px) {
  .use-materials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .use-materials-item-1,
.use-materials-item-3 {
    margin-right: 0;
  }

  .use-materials-item-1,
.use-materials-item-2,
.use-materials-item-3,
.use-materials-item-4 {
    text-align: center;
  }

  .use-materials-item-4 {
    margin-bottom: 40px;
  }

  .use-materials-item-5 {
    margin-bottom: 40px;
  }

  .use-materials-item p {
    font-size: 18px;
    font-weight: 300;
  }

  .bar-edge {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .bar-edge-item-1,
.bar-edge-item-2 {
    order: 1;
    margin-right: 0;
    margin-left: 0;
  }

  .bar-edge-item-3 {
    max-width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    order: 2;
    margin-top: 0;
  }
}
@media screen and (max-width: 558px) {
  .design-frame::before {
    width: 40px;
    height: calc(100% - 100px);
    left: 0;
    border-width: 15px;
  }

  .design-frame::after {
    width: 40px;
    height: calc(100% - 100px);
    right: 0;
    border-width: 15px;
  }

  .features__item {
    margin-left: unset;
    margin-right: 0;
  }

  .storage {
    flex-direction: column;
    text-align: center;
  }

  .storage-item-1 {
    margin-right: 0;
    text-align: center;
    margin-bottom: 40px;
  }

  .storage-description-3 div.bar-btn {
    width: 300px;
    margin-right: 0;
    padding: 16px 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .storage-description-3 {
    padding: 0;
  }

  .bar-edge-description-3 {
    max-width: 100%;
    position: relative;
    background-color: #ffffff;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
  }

  .bar-edge-description {
    text-align: center;
  }

  .bar-edge-item-1,
.bar-edge-item-2 {
    margin-bottom: 40px;
  }

  .storage-1, .storage-2 {
    margin-bottom: 40px;
  }

  .other-elem-description {
    margin-top: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .bar-stand h2,
.bar-edge-item h2,
.storage-description h2,
.other-elem-description h2 {
    font-size: 23px;
  }

  .use-materials-title h2 {
    font-weight: 500;
  }

  .storage-description p,
.other-elem-description p,
.use-materials-item p,
.bar-edge-item p,
.bar-stand p {
    font-size: 16px;
  }

  .other-elem-description div.bar-btn{
    width: 262px;
    padding: 16px 0;
  }
  .use-materials-item-description {
    margin-top: 12px;
  }
  .use-materials-item-4{
    margin-bottom: 40px;
  }
  .other-elem-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
form.bar-form{
  margin-bottom: 40px;
}
.storage-description-3 p {
  margin-bottom: 30px;
}
}