*{
    outline: none !important;
    box-sizing: border-box; 
}
img{
    max-width: 100%;
}
@mixin flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
@mixin titleSize{
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 32px;
}
@mixin textSize{
    color: #010000;
    font-size: 18px;
    font-weight: 300;
}
@mixin textDecorate{
    text-align: right;
}
$bckg-color: #ffffff;
$bar-stand: 484px;
$mar-btw: 45px;
a{
    text-decoration: none;
}
body{
    font-family: "HelveticaNeueCyr";
}
.bar-stand{
    @include flex;
    margin-bottom: 102px;
    & h2{
         @include titleSize;
    }
    & p{
        @include textSize;
    }
    &-description-first{
        text-align: right;
        margin-left: auto;
    }
    &-description{
        max-width: $bar-stand;
    }
    &-item-1{
        margin-right: $mar-btw;
    }
}
.bar-edge{
    @include flex;
    &-item h2{
        @include titleSize;
    }
    &-item p{
            @include textSize;
    }
    &-item-1,
    &-item-2{
        max-width: $bar-stand;
        @include flex;
        flex-direction: column;
        max-width: 393px;
    }
    &-item-1{
        order: 1;
    }
    &-item-2{
        order: 3;
    }
    &-item-3{
        max-width: 658px;
        text-align: center;
        margin-left: 112px;
        margin-right: 112px;
        order: 2;
    } 
    &-description-right{
        @include textDecorate;
    }
    &-description-3{
        max-width: 100%;
        position: relative;
        background-color: $bckg-color;
        margin-left: 28px;
        margin-right: 28px;
        margin-top: -70px;
        padding: 0 30px;
        & span{
            font-weight: 500;
            display: block;
        }
        &::after{
            content: '';
            width: 1px;
            height: 73px;
            position: absolute;
            left: 50%;
            background-color: #000;
            bottom: -90;
        }
    }
}
.use-materials{
    @include flex;
    &-title{
        text-align: center;
        margin-top: 100px;
        margin-bottom: 0;
        font-size: 30px;
        & span{
            font-weight: 300;
        }
    }
    &-item{
        &-1,
        &-5{
            margin-top: 172px;
            max-width: 334px;
        }
        &-1{
            margin-right: 36px;
        }
        &-5{
            margin-left: 36px;
        }
        &-2,
        &-4{
            margin-top: 90px;
            max-width: 334px;
        }
        &-3{
            max-width: 334px;
            margin-left: 36px;
            margin-right: 36px;
        }
        & span{
            color: #020000;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
        }
        & p{
            font-size: 14px;
            font-weight: 300;
        }
        &-description{
            margin-top: 32px;
        }
    }
}
.storage{
    @include flex;
    &-item{
        max-width: 755px;
    }
    &-1,
    &-2{
        margin-bottom: 60px;
    }
    &-item-1{
        text-align: right;
        max-width: 755px;
        margin-right: $mar-btw;
    }
    &-item-3{
        text-align: center;
        max-width: 755px;
    }
    &-description-3{
        max-width: 100%;
        position: relative;
        background-color: $bckg-color;
        margin-left: 28px;
        margin-right: 28px;
        margin-top: -70px;
        padding: 0 30px;
        & p{
            margin-bottom: 60px;
        }
        div.bar-btn{
            width: 374px;
            margin-right: 0;
            padding: 16px 0;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    &-3{
        @include flex;
        justify-content: center;
    }
    &-description h2{
        @include titleSize;
    }
    &-description p{
        @include textSize;
    }
}
.other-elem-img{
    @include flex;
    &-item{
        margin-right: 5px;
    }
    &-item:last-of-type{
        margin-right: 0;
    }
}
.other-elem-description{
    max-width: 789px;
    text-align: center;
    position: relative;
    background-color: $bckg-color;
    margin-top: -70px;
    padding: 0 145px;
    & h2{
        @include titleSize;
    }
    & p{
        @include textSize;
        margin-bottom: 36px;
    }
    div.bar-btn {
        width: 262px;
        margin-right: 0;
        padding: 16px 0;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
    }
}
.other-elem-wrapper{
    @include flex;
    flex-direction: column;
    align-items: center;
}
.bar-btn{
    padding: 16px 0;
}
.features__item{
    margin-left: unset;
    margin-right: 70px;
    &:last-of-type{
        margin-right: 0;
    }
}
.features__list{
    justify-content: center;
    flex-wrap: wrap;
}
.top-photo{
    margin-right: 0;
}
div.main-right-bottom {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}
.main-right {
    max-width: 987px;
    margin-left: 15px;
}
.main-left {
    max-width: 450px;
    margin-right: 80px;
}
.main-left {
    max-width: 474px;
    margin-right: 80px;
}
.main-grid-photos {
    justify-content: space-between;
}
.main-right {
    max-width: 905px;
    margin-left: 15px;
}
.main-left-items-img-1{
    margin-bottom: 16px; 
    margin-left: 55px;
    position: relative;
}
.top-photo{
    margin-left: 55px;
}
.main-left-items-img-2,
.main-right-top,
.first-right,
.right-bottom-last{
    position: relative;
    display: inline-block;
}
.main-left-items-img-2,
.right-bottom-last,
.first-right,
.main-left-items-img-1,
.top-photo{
    overflow: hidden;
}
.top-photo:hover 
.goods-eq-title{
    height: 80px;
    transition-duration: 0.3s;
    opacity: .8;
}
.top-photo:not(:hover) 
.goods-eq-title{
    transition-duration: 0.3s;
}
.main-left-items-img-1:hover
.goods-eq-title{
    height: 80px;
    transition-duration: 0.3s;
    opacity: .8;
}
.main-left-items-img-2:hover
.goods-eq-title{
    height: 80px;
    transition-duration: 0.3s;
    opacity: .8;
}
.main-left-items-img-1:not(:hover) 
.goods-eq-title{
    transition-duration: 0.3s;
}
.main-left-items-img-2:not(:hover) 
.goods-eq-title{
    transition-duration: 0.3s;
}
.first-right:hover
.goods-eq-title{
    height: 80px;
    transition-duration: 0.3s;
    opacity: .8;
}
.right-bottom-last:hover
.goods-eq-title{
    height: 80px;
    transition-duration: 0.3s;
    opacity: .8;
}
.first-right:not(:hover) 
.goods-eq-title{
    transition-duration: 0.3s;
}
.right-bottom-last:not(:hover) 
.goods-eq-title{
    transition-duration: 0.3s;
}
.main-left-items-img-2 img:hover,
.right-bottom-last img:hover,
.first-right img:hover,
.main-left-items-img-1 img:hover,
.top-photo img:hover {
    transform: scale(1.1);
    transition: opacity 0.5s, transform 0.5s;
}

.main-left-items-img-2 img:not(:hover),
.right-bottom-last img:not(:hover),
.first-right img:not(:hover),
.main-left-items-img-1 img:not(:hover),
.top-photo img:not(:hover){
    transform: unset;
    transition: opacity 0.5s, transform 0.5s;
}
.goods-eq-title:hover
.main-left-items-img-2 img,
.right-bottom-last img,
.first-right img,
.main-left-items-img-1 img,
.top-photo img{
    transform: scale(1.1);
    transition: opacity 0.5s, transform 0.5s;
}

.goods-eq-title:not(:hover)
.main-left-items-img-2 img,
.right-bottom-last img,
.first-right img,
.main-left-items-img-1 img,
.top-photo img{
    transform: unset;
    transition: opacity 0.5s, transform 0.5s;
}
.goods-eq-title{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 313px;
    color: #fff;
    height: 63px;
    background-color: rgb(225,5,20);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.eq-banner{
    margin-bottom: 100px;
}
@media screen and (max-width: 1315px){
    .design-frame::before {
        border-width: 20px;
        left: 30px;
        height: calc(100% - 78px);
        bottom: 0;
    }
    .design-frame::after{
        border-width: 20px;
        right: 30px;
        height: calc(100% - 78px);
        bottom: 0;
    }
    .bar-edge-item-3 {
        max-width: 658px;
        text-align: center;
        margin-left: 80px;
        margin-right: 80px;
        order: 2;
    }
}
@media screen and (max-width: 991px){
    .bar-features{
        margin-right: 0;
    }
    .features__middle::before {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        border-bottom: 1px solid #000006;
        width: 3rem;
        margin-left: 4rem;
    }
    .bar-stand{
        flex-direction: column;
        align-items: center;
    }
    .bar-stand-description{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .bar-stand-item-1 {
        margin-right: 0;
        margin-bottom: 50px;
    }
    .use-materials {
        flex-wrap: wrap;
    }
    .use-materials-item-1, .use-materials-item-5 {
        margin-top: 40px;
        max-width: 334px;
    }
    .use-materials-item-5{
        text-align: center;
    }
    .use-materials-item-1,
    .use-materials-item-3{
        text-align: right;
    }
    .use-materials-item-1,
    .use-materials-item-2{
        margin-bottom: 40px;
    }
    .use-materials-item-2, .use-materials-item-4 {
        margin-top: 0;
        max-width: 334px;
    }
    .use-materials-item-4{
        margin-top: 0;
    }
    .use-materials-item-3 {
        max-width: 334px;
        margin-left: 0; 
        margin-right: 36px;
    }
    .use-materials-item-5 {
        margin-left: 0;
        margin-bottom: 40px;
    }
    .use-materials-title h2{
        margin-bottom: 0;
    }
    .bar-edge-description-3 {
        margin-left: 46px;
        margin-right: 46px;
    }
    .use-materials-item p {
        font-size: 16px;
        font-weight: 300;
    }
}
@media screen and (max-width: 884px){
    .bar-edge-item-3 {
        max-width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        order: 2;
        margin-top: 600px;
    }
    .bar-edge-item-1 {
        order: 1;
        margin-right: -330px;
    }
    .bar-edge-item-2 {
        order: 3;
        margin-left: -330px;
    }
    .storage-description-3 {
        max-width: 100%;
        position: relative;
        background-color: #ffffff;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding: 0 30px;
    }
    .other-elem-img-item-2,
    .other-elem-img-item-3{
        display: none;
    }
    .other-elem-img-item {
         margin-right: 0;
         width: 100%; 
    }
    .other-elem-description {
        max-width: 481px;
        text-align: center;
        position: relative;
        background-color: #ffffff;
        margin-top: -70px;
        padding: 0 0;
        margin-left: 20px;
        margin-right: 20px;
    }
    .storage-img-1 img{
        max-width: 100%;
    }
    .storage-img-1{
        display: flex;
    }
}
@media screen and (max-width: 743px){
    .use-materials {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .use-materials-item-1,
     .use-materials-item-3 {
        margin-right: 0;
    }
    .use-materials-item-1,
    .use-materials-item-2,
    .use-materials-item-3,
    .use-materials-item-4{
        text-align: center;
    }
 .use-materials-item-4{
        margin-top: 40px;
    }
    .use-materials-item-5 {
        margin-bottom: 40px;
    }
    .use-materials-item p {
        font-size: 18px;
        font-weight: 300;
    }
    .bar-edge {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .bar-edge-item-1,
    .bar-edge-item-2 {
        order: 1;
        margin-right: 0;
        margin-left: 0;
    }
    .bar-edge-item-3 {
        max-width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        order: 2;
        margin-top: 40px;
    }
    
}
@media screen and (max-width: 558px){
    .design-frame::before {
        width: 40px;
        height: calc(100% - 100px);
        left: 0;
        border-width: 15px;
    }
    .design-frame::after {
        width: 40px;
        height: calc(100% - 100px);
        right: 0;
        border-width: 15px;
    }
    .features__item {
        margin-left: unset;
        margin-right: 0;
    }
    .storage{
        flex-direction: column;
        text-align: center;
    }
    .storage-item-1{
        margin-right: 0;
        text-align: center;
        margin-bottom: 40px;
    }
    .storage-description-3 div.bar-btn {
        width: 300px;
        margin-right: 0;
        padding: 16px 0;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .storage-description-3 {
        padding: 0;
    }
    .bar-edge-description-3 {
        max-width: 100%;
        position: relative;
        background-color: #ffffff;
        margin-left: 0; 
        margin-right: 0; 
        margin-top: 0; 
        padding: 0;
    }
    .bar-edge-description{
        text-align: center;
    }
    .bar-edge-item-1,
    .bar-edge-item-2{
        margin-bottom: 40px;
    }
    .storage-1, .storage-2 {
        margin-bottom: 40px;
    }
    .other-elem-description {
        margin-top: 0;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .bar-stand h2,
    .bar-edge-item h2,
    .storage-description h2,
    .other-elem-description h2 {
        font-size: 23px;
    }
    .use-materials-title h2{
        font-weight: 500;
    }
    .storage-description p,
    .other-elem-description p,
    .use-materials-item p,
    .bar-edge-item p,
    .bar-stand p{
        font-size: 16px;
    }
}